---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Texte from "../components/Texte.astro";
---

<Base titre="Accueil">
	<h1 class="text-gray-50 text-5xl block justify-self-center font-serif h-36">
		Accueil
	</h1>
	<Texte />
</Base>
