---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { getOffres } from "../backend.mjs";

const offres = await getOffres();
---

<Base titre="Accueil">
    <h1 class="text-gray-50 text-5xl block justify-self-center font-serif h-36">
        Offres
    </h1>

    <div
        class="text-gray-50 flex-col columns-3 p-5"
        x-data="{ showFavorites: false }"
    >
        <button @click="showFavorites=!showFavorites">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <div x-show="!showFavorites">
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="showFavorites">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
