<nav class="h-24 flex justify-self-center text-xl m-10 font-mono">
    <a class="hover:text-lime-500" href="../">Accueil</a>
    <p>/</p>
    <a class="hover:text-lime-500" href="offres/">Offres</a>
</nav>
