<nav
    class="h-24 flex justify-center items-center space-x-6 text-xl m-10 font-mono"
>
    <a
        class="hover:text-lime-500 px-4 py-2 rounded-lg transition duration-200 ease-in-out hover:bg-gray-100"
        href="../">Accueil</a
    >
    <p>/</p>
    <a
        class="hover:text-lime-500 px-4 py-2 rounded-lg transition duration-200 ease-in-out hover:bg-gray-100"
        href="../offres/">Offres</a
    >
    <p>/</p>
    <a
        class="hover:text-lime-500 px-4 py-2 rounded-lg transition duration-200 ease-in-out hover:bg-gray-100"
        href="../agent/">Agent</a
    >
</nav>
