<div class="flex text-3xl justify-self-center">
    <p class="hover:text-lime-500"> B</p>
        <p class="hover:text-lime-500">o</p>
        <p class="hover:text-lime-500">n</p>
        <p class="hover:text-lime-500">j</p>
        <p class="hover:text-lime-500">o</p>
        <p class="hover:text-lime-500">u</p>
        <p class="hover:text-lime-500">r</p>
    </p>
</div>
