---
import Header from "../../components/Header.astro";
import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import { getOffres } from "../../backend.mjs";

const offres = await getOffres();
---

<Base titre="Accueil">
    <h1 class="text-5xl block justify-self-center font-serif h-36">Offres</h1>

    <div x-data="{ showFavorites: false, open:'open'}">
        <button @click="showFavorites=!showFavorites">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <button x-on:click="open = ! open">Toggle Dropdown</button>
        <div :class="open ? '' : 'hidden'">Dropdown Contents...</div>

        <div x-show="!showFavorites" class="grid grid-cols-3 p-5">
            <!--  x-show="!showFavorites" -->
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="showFavorites" class="grid grid-cols-3 p-5">
            <!--  x-show="showFavorites" -->
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
